.navbar-brand img {
  max-width: 150px;
}

.navbar-collapse img {
  max-width: 200px;
}

.navbar-other .btn-social {
  display: flex;
  align-items: center;
  gap: .25rem;
}

/* Card Products */
.card-product .card-img-top {
  position: relative;

  .badge {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.card-product .partner-name {
  color: #60697b;
  font-size: 12px;
}

.card-product .product-title {
  color: var(--bs-blue);
  margin-bottom: .25rem;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.price-filter {
  position: relative;
  overflow: hidden;

  .price-label {
    position: absolute;
    top: 4px;
    left: 4px;
    height: calc(100% - 8px);
    border-radius: .2rem;
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
    white-space: nowrap;
    display: flex;
    align-self: stretch;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 12px;
    background-color: var(--color-chip-disabled, #F3F4F5);
    color: var(--color-text-low, rgba(49, 53, 59, 0.68));
    padding-right: 8px;
    border: 1px solid rgba(8, 60, 130, 0.06);
  }

  input, label {
    padding-left: 55px;
  }
}

footer .img-footer {
  max-width: 200px;
}

/* footer .widget-title {
  color: #FFFFFF;
} */
